
header{

	text-align: center;
	font-size: 50px;
	
	


}
body{
	background-color: silver;



	

}
h1{
	color:black;
	text-align: center;

	
}

p{
	color:firebrick;
	text-align:center;
	font:italic bold 30px/45px Georgia, serif;

}


